---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Rules from '../../components/Rules.astro';
---

<BaseLayout title="Server Rules - LAST BULLET DayZ" description="LAST BULLET DayZ server rules. All rules regarding PvP, bases, vehicles and behavior on our hardcore DayZ server." keywords="DayZ Rules, Server Rules, PvP Rules, Last Bullet, DayZ Server Rules">
  <div class="pt-24">
    <Rules />
  </div>
</BaseLayout>
